<!DOCTYPE html>
  <html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta property='og:title' content='Remote jobs in your time zone- Torre' />
    <meta property='og:url' content='https://utcjobfilter.herokuapp.com/' />
    <meta property="og:type" content="Website" />
    <meta name="description" content='Remote jobs in your time zone'>
    <meta name="author" content="Juan Diego Alejandro Valencia Peña">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="manifest" href="../static/images/site.webmanifest">
    <link rel="mask-icon" href="../static/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Remote jobs in your time zone</title> 
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
    <!-- JQUERY -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js?"></script>

    <!-- JS file -->

    <script src="../static/scripts/load.js"></script>

    <!-- CSS file -->
    <link rel="stylesheet" href="../static/assets/css/styles.css">

</head>

<body>
    <div class="form-section">
        <h1>Remote jobs in your time zone</h1>
        <input type="text" placeholder="User public ID" required>
        <button type="button">SEARCH</button>
        <h2>USER</h2>
    </div>

    <div class="polaroid">
        <div class="container">
        <section id="userinfo">
        </section>
        </div>
      </div>
    
   
    <div class="result-section">
        <h1>Results</h1>
        <section id="same_utc" class="row">
        </section>
    </div>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <footer>
        <div id='spinner' class="pt-3">
        </div>
        <div class="textofooter">
            <p> ©COPYRIGHT 2020. Designed <a class="link-footer" href="https://bio.torre.co/en/juandiegoalejandro"
                    target="_blank">By Juan Valencia</b> </a><br>
                for Torre<br>All rights reserved<br>
            </p>
        </div>
    </footer>
  

</body>

</html>